@import "_variables.scss";

.b-location{
	text-align: center;
	height: 70vh;
	&__title{
		@include title;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	&__box{
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	&__info{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		background-color: #f5d76e;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-align-items: center;
		        align-items: center;
		width: 40%;
		height: 420px;
		padding: 30px;

	}
	&__stitle{
		@include title;
		font-size: 16px;
		line-height: 1.0;
		margin: 0;
	}
	&__img{
		width: 60%;
		height: 420px;
		overflow: hidden;
		position: relative;

		& img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		width: 100%;
		}
	}
}
@media all and (max-width: 415px){
	.b-location{
		min-height: 900px;
		margin-bottom: 50px;
		&__img{
			width: 100%;
			flex-basis: 100%;
		}
		&__info{
			width: 100%;
			flex-basis: 100%;
		}
	}

}
