@import "_variables.scss";

.b-testimon{
	height: 70vh;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	&__title{
		@include title;
		margin-bottom: 50px;
	}
	&__box{
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	&__img{
		width: 60%;
		height: 420px;
		overflow: hidden;

		& img {
			height: 420px;
			width: 100%;

		}
	}
	&__man{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		background-color: $bgcolor;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		width: 40%;
		height: 420px;
		padding: 30px;
		margin-bottom: 50px;

		& img{
			width: 90px;
			height: 90px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}
	}
	&__name{
		font: $menufont;
		color: $goldcolor;
		font-size: 20px;
	}
	&__text{
		font: $mainfont;
		color: $whaitcolor;
	}
	&__btn{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		width: 90px;


		    & a{
		width: 8px;
		height: 8px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		border: 1px solid $whaitcolor;

				&:hover{
					background-color: $whaitcolor;
				}
		}
	}
}
@media all and (max-width: 415px){
	.b-testimon{
		min-height: 1000px;
		margin-bottom: 50px;
		&__img{
			width: 100%;
			flex-basis: 100%;
		}
		&__man{
			width: 100%;
			flex-basis: 100%;
		}
	}

}
